* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  background-color: #ebebeb;
}

.contenido {
  background-color: #eac926;
  font-family: "Roboto", sans-serif;
  position: fixed;
  top: 0;
  z-index: 100;
}

.no-fixed {
  position: static;
}

.contenido {
  left: 0;
  right: 0;
}

.contenidoo {
  background-color: #eac926;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

.hipervinculo {
  text-decoration: none;
  color: black;
}

/* Mobile */
.header1 {
  display: flex;
  margin: 1rem;
  gap: 1rem;
}

/* .header1 img {
  width: 50%;
} */

.logo {
  width: 40vw;
}

.contenido-principal {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.navegacion-principal {
  display: none;
}

.desplegable {
  color: white;
  background-color: #03264c;
  display: block;
  max-width: 2.9rem;
  text-align: center;
  border-radius: 3px;
  margin: auto;
}

.space-desplegable {
  height: 30px;
  width: 100%;
}

.banner {
  margin-top: 115px;
  width: 100%;
}

.total-elementos {
  display: flex;
  flex-wrap: wrap;
}

.fondo-elemento {
  margin: 15px;
  background-color: #ffffff;
  width: 90%;
}

.elemento-imagen {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.elemento-imagen img:first-child {
  align-self: center;
}

.datos-imagenes {
  display: flex;
  gap: 20%;
  width: 100%;
  border-top: 1px solid #cccccc;
  margin-left: 8px;
}

.bold {
  font-weight: bold;
  color: #616161;
}

.verde {
  color: #39b54a;
}

.imagen {
  /* height: 500px; */
  width: 100%;
}

.imagen-perfil {
  margin-bottom: 8px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

.imagen-perfil label {
  font-weight: bold;
}

.formulario-contrasenia {
  margin-top: 8px;
}

.contrasenia {
  margin-top: 8px;
}

.boton-formulario {
  width: 90%;
  color: #ffffff;
  background-color: #03264c;
  padding: 4px;
}

.horizontal {
  display: flex;
  align-items: center;
  gap: 4px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  max-width: 650px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.formulario-item {
  width: 90%;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  height: 26px;
  font-size: 14px;
}

.formulario p {
  align-self: flex-start;
  margin-left: 5%;
  margin-top: 8px;
  font-weight: bold;
}

.radio-check {
  gap: 25px;
  margin-left: 5%;
  display: flex;
  align-self: flex-start;
}

.flex-horizontal {
  display: flex;
}

.checkbox {
  align-self: flex-start;
  margin-left: 5%;
}

.checkbox-align {
  display: flex;
  align-items: center;
  gap: 20px;
}

.boton-buscador {
  height: 35px;
}

.form {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  gap: 10px;
}

.form-signup {
  margin-top: 400px;
}

.form-pass {
  display: flex;
  flex-direction: column;
}

.bot {
  background-color: #337aff;
}

.item-form {
  width: 234px;
}

.item-form-select {
  width: 234px;
}

.boton {
  padding: 5px;
  margin-top: 6px;
  border-radius: 5px;
  background-color: green;
  color: white;
}

button:hover {
  background-color: greenyellow;
  transition: background-color, 0.5s;
}

.datos {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.dom {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.perfil {
  display: flex;
  gap: 10px;
  font-weight: 100;
}

.nobold {
  display: flex;
  flex-direction: column;
  font-weight: 100;
  gap: 8px;
}

.grilla:hover h2 {
  color: red;
}

.grilla {
  position: relative;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.item-grilla {
  position: absolute;
  left: 25%;
  bottom: 10%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  color: white;
  width: 50%;
  height: 10%;
  padding-left: 5px;
  padding-top: 2px;
  transition: color, 2s; /* es la transición del hover */
}

.logo:hover {
  animation: aumentar 1s linear infinite normal;
}

.logo-camion {
  width: 20px;
  height: 20px;
  color: #39b54a;
  top: 10px;
}

.truck-position {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translatey(50%);
  border: 1px solid #39b54a;
  border-radius: 50%;
  padding: 5px;
  align-self: flex-end;
  margin-right: 10px;
  background-color: #ffffff;
}

.texto-publicidad {
  font-size: 20px;
  font-weight: 600;
  color: #616161;
  margin-left: 15px;
  padding-top: 7px;
}

.elemento {
  font-size: 16px;
  padding: 5px;
}

p {
  margin: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 20px;
}

.seccion-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.icono-footer {
  font-size: 26px;
}

.center {
  text-align: center;
  font-size: 14px;
  color: #616161;
  width: 80%;
}

h3 {
  color: #616161;
  font-weight: 500;
}

.icono-footer {
  color: #1259c3;
}

.copy {
  margin-top: 20px;
  font-size: 12px;
  flex: 1;
  margin-left: 8px;
  color: #616161;
}

/* tablet */
@media (min-width: 481px) {
  .contenido-principal {
    display: flex;
    flex-wrap: nowrap;
  }

  /*  .header1 img {
    width: 40%;
  } */

  .logo {
    width: 40%;
  }

  .header2 {
    text-align: right;
    padding: 0.8rem;
    margin-top: 3px;
    max-width: 210px;
  }

  .desplegable {
    color: white;
    background-color: #03264c;
    display: block;
    max-width: 2.9rem;
    text-align: center;
    border-radius: 3px;
    margin: auto;
  }

  .space-desplegable {
    height: 30px;
    width: 100%;
  }

  .elemento-lista {
    white-space: nowrap;
  }

  .logo {
    min-width: 135px;
  }

  .fondo-elemento {
    width: calc(50% - 30px);
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
}

@media (min-width: 730px) {
  .navegacion-principal {
    display: flex;
    justify-content: space-around;
  }

  .desplegable {
    display: none;
  }

  .space-desplegable {
    display: none;
  }

  .header1 {
    flex: 1;
  }

  .logo {
    width: 150px;
  }

  .lista-horizontal {
    display: flex;
    list-style: none;
    gap: 12px;
  }
}

/* PC */
@media (min-width: 1024px) {
  .fondo-elemento {
    width: calc(25% - 30px);
  }

  .seccion-footer {
    width: calc(33%);
  }

  .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* pantallas más grandes */
@media (min-width: 1280px) {
}

/* @media (min-width: 1920px) {
  .boton-buscador {
    width: 900px;
  }

  .contenido-principal {
    justify-content: center;
    gap: 15rem;
  }

  .navegacion-principal {
    margin-left: 10rem;
    gap: 86rem;
  }
}
 */
